<body>
<div class="topnav">
  <a style="margin-left:30px ;font-size:25px;color: rgb(255, 238, 0);" class="active" href="#home">
      <h3>JASS</h3>
  </a>
  <button style="position : absolute;left:150px;top:14px" type="button"
      class="btn btn-outline-warning">Feed</button>
  <button style="position : absolute;left:230px;top:14px" type="button"
      class="btn btn-outline-warning">Videos</button>
  <button style="position : absolute;right:270px;top:14px" type="button"
      class="btn btn-outline-warning">Profile</button>
  <button style="position : absolute;right:142px;top:14px" type="button"
      class="btn btn-outline-warning">Create
      Post</button>
  <button style="position : absolute;right:45px;top:14px" type="button"
      class="btn btn-outline-warning">Logout</button>
</div>
<img class="nice" src="./assets/images/gg1.jpg" alt="Notebook">
  <div class="bg-text">
    <form action="/action_page.php">
  
      <h1 style="position: absolute;left:-1%;color: yellow;"><b>Edit Profile</b></h1>
      <!-- <hr style="border: 1px solid aqua;position:relative;top:40%;"> -->
      <div class="info">
        <br><br><br>
      <span class="span"><b>Profile Headline</b></span><br/>
      <input style="border:2px solid aqua;"type="text" id="title" class="box" name="title"><br />
  
      <span class="span"><b>Your Bio</b></span><br/>
      <input style="border:2px solid aqua;" type="text" id="title" class="box"name="title"><br />
  
      <span class="span"><b>Your English Efficiency</b></span><br/>
      <input style="border:2px solid aqua;"type="text" id="title"class="box" name="title"><br />
  
      <span class="span"><b>Github Link</b></span><br/>
      <input style="border:2px solid aqua;"type="text" id="title" class="box" name="title"><br />
  
      <span class="span"><b>Linkedin Link</b></span><br/>
      <input style="border:2px solid aqua;" type="text" id="title" class="box" name="title"><br />
  
      <span class="span"><b>Your Roll Number</b></span><br/>
      <input style="border:2px solid aqua;" type="text" id="title" class="box" name="title"><br />
  
      <span class="span"><b>User Since</b></span><br/>
      <input style="border:2px solid aqua;"type="text" class="box"id="title" name="title"><br />
    </div>
  
      <input style="border:1px solid #000000;"type="submit" value="Confirm Changes">
    </form>
  </div>
</body>