<!-- <ul>
    <li><a href="#"><b style="font-size: 25px;">JASS</b></a></li>
    <li><a href="#">Feed</a></li>
    <li><a href="#">Videos</a></li>
    <li style="float:right"><a class="active" href="#">Profile</a></li>
    <li style="float:right"><a class="active" href="#">Create Post</a></li>
    <li style="float:right"><a class="active" href="#">Logout</a></li>
  </ul>
   -->
<body>
   <div class="topnav">
    <a style="font-size:25px;color: rgb(255, 238, 0);" class="active" href="#home"><h3>JASS</h3></a>
    <button style="position : absolute;left:150px;top:14px" type="button"
        class="btn btn-outline-warning">Feed</button>
    <button style="position : absolute;left:230px;top:14px" type="button"
        class="btn btn-outline-warning">Videos</button>
    <button style="position : absolute;right:270px;top:14px" type="button"
        class="btn btn-outline-warning">Profile</button>
    <button style="position : absolute;right:142px;top:14px" type="button"
        class="btn btn-outline-warning">Create
        Post</button>
    <button style="position : absolute;right:45px;top:14px" type="button"
        class="btn btn-outline-warning">Logout</button>
</div>
<img class="nice" src="./assets/images/one.jpg" alt="Notebook">
<br><br><br><br>
  <div class="bg-text"> 
    <form class ="form" action="/action_page.php">
      <label class="font" for="title">Thread Title</label><br />
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <label class="font" for="desc">Description</label><br />
      <!-- <input type="text" id="desc" name="desc" placeholder="Description.."><br/> -->
      <textarea>Some text...</textarea><br />
  
      <label class="font" for="sub">Select Subject</label><br />
      <select id="country" name="country">
        <option value="">test</option>
        <option value="">test1</option>
        <option value="">test2</option>
      </select><br/>
  
      <label class="font" for="sub">Add More</label><br />
      <label class="container1"><b>One</b>
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      <label class="container1"><b>Two</b>
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container1"><b>Three</b>
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="container1"><b>Four</b>
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
  
      <label  style="position: absolute;top:700px;margin-left: -420px;"class="font" for="title">Assignment Details</label><br />
      <span style="margin-top:55px ;"class="span">Assignment Title</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span">Assignment Description</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span">Submit Link 1</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span">Submit Link 2</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <label  style="position: absolute;top:1320px;margin-left: -420px;" class="font" for="title">Lecture Details</label><br />
     <br><br><br>
      <span class="span">Assignment Title</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span">Lecture Description</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span">Lecture Link 1</span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <input style="margin-left: -3%;margin-top: 5%;" type="submit" value="Submit">
    </form>
  </div>
  
</body>