<body>
<div class="topnav">
    <a style="margin-left:30px ;font-size:25px;color: rgb(255, 238, 0);" class="active" href="#home">
        <h3>JASS</h3>
    </a>
    <button style="position : absolute;left:150px;top:14px" type="button"
        class="btn btn-outline-warning">Feed</button>
    <button style="position : absolute;left:230px;top:14px" type="button"
        class="btn btn-outline-warning">Videos</button>
    <button style="position : absolute;right:267px;top:14px" type="button"
        class="btn btn-outline-warning">Profile</button>
    <button style="position : absolute;right:142px;top:14px" type="button"
        class="btn btn-outline-warning">Create
        Post</button>
    <button style="position : absolute;right:45px;top:14px" type="button"
        class="btn btn-outline-warning">Logout</button>
</div>
<br>
<br>
<br>
<br>
<h1>Ticket Section</h1>

<div class="outer1">
    <br><br><br><br><br><br>
    <div class="card" style="width: 30rem;position: absolute;left:-215px;"> <!-- left:-215px; -->
        
        <div class="card-header">
        <b> Raise Ticket</b>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>

<div class="outer2">
    <br><br><br><br><br><br>
    <div class="card" style="width: 30rem;position: absolute; left:-40px;">
        <div class="card-header">
        <b>Featured</b>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
<div class="extra">
    <form action="/action_page.php">
        <br><br><br><br><br>
      <span class="span"><b>Contact Info:Email</b></span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span"><b>Special Request</b></span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      <span class="span"><b>Request Type</b></span><br/>
      <input type="text" id="title" name="title" placeholder="Thread Title.."><br />
  
      
      <b><input type="submit" class="submitbt" value="Raise Ticket"></b>
    </form>
  </div>
</body>
